<!doctype html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'skam/css/loading.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <title>Верификация прошла успешно</title>
</head>
<body>
  <div class='svganimated' style="margin: 20px;">
<svg id="svg1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
 width="75" height="75" viewBox="0 0 47 47"  >
 <title>animation icon -OK-</title> 
       <circle fill="#4CAF50" cx="24" cy="24" r="21"/>
         <path class="path" fill= "none" stroke ="#CCFF90" stroke-width ="1.5" stroke-dasharray= "70.2" stroke-dashoffset="70.2" 
     d="M 34.6 14.6  L 21 28.2 L 15.4 22.6 L 12.6 25.4 L 21 33.8 L 37.4 17.4z">
     <animate id="p1" attributeName="stroke-dashoffset" begin="0.2s" values="70.2;0" dur="3s" repeatCount="1" fill="freeze" calcMode="paced" restart="whenNotActive"/> 
     <animate id="f1" attributeName="fill" begin = "p1.end" values="#4CAF50; #CCFF90"  dur="2s" fill="freeze" restart="whenNotActive" /> 
 </path> 
</svg>
</div>
<br>
<h1 style="font-family: Montserrat; color: black;" class="suc">Верификация прошла успешно, ожидайте получения выплаты в течении рабочих суток</h1>
{% include 'skam/redirect.html' %}
</body>
</html>
